<div class="top-row">
    <input id="first" type="number" name="first" value="0" [(ngModel)]="first" required/>

    <select id="type" [(ngModel)]="type">
        <option [ngValue]=0>+</option>
        <option [ngValue]=1>-</option>
        <option [ngValue]=2>*</option>
        <option [ngValue]=3>/</option>
    </select>
</div>

<div class="bottom-row">
    <input id="second" type="number" name="second" value="0" [(ngModel)]="second" required/>
    <input id="calc-button" type="button" (click)="calculate()" value="Calculate"/>
    <ul>
        <li *ngFor="let item of results">
            #{{ item.id }}:
            {{ item.a }}, {{ item.type }}, {{ item.b}} =
            {{ item.result }}
        </li>
    </ul>
</div>

